@import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Comfortaa:wght@300&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --fuenteTitulos: "Lobster", cursive;
  --fuenteSubtitulos: "Lobster", cursive;
  --fuenteTexto: "Comfortaa", cursive;
  --fuenteAnimada: "Butterfly Kids", cursive;
  --fuenteNavbar: "Pacifico", cursive;

  --tamTitulo: 4rem;
  --tamSubtitulo: 3rem;
  --tamTexto: 1.5rem;
  --tamAnimada: 2rem;

  --colorRojo: #ff6961;
  --colorVerde: #77dd77;
  --colorAmarillo: #fdfd96;
  --colorAzul: #84b6f4;
  --colorRosa: #fdcae1;
  --colorBlanco: #ffffff;
  --colorMorado: #dc14b0;
}

body {
  background-color: var(--colorRosa);
}

/*Navbar*/

.navbar-total {
  background-color: var(--colorMorado);
}

.nav-link{
    font-size: var(--tamTexto);
    color: white;
    margin: 0 30px;
    width: 140px;
    text-align: center;
}

.nav-inicio {
  font-family: var(--fuenteNavbar);
  font-size: var(--tamSubtitulo);
  /* -webkit-text-stroke: 2px var(--colorMorado); */
  letter-spacing: 4.5px;
  width: 250px;
}

/**/

.precio {
  background-color: #77dd77;
  padding: 8px 25px;
  font-size: 15px;
  width: 150px;
  height: 45px;
  border: none;
  text-align: center;
  margin-bottom: 20px;
}
.seccion {
  height: auto;
  background-color: white;
  margin-bottom: 20px;
  font-family: var(--fuenteTexto);
  padding: 1rem;
}

.fondoimg {
  background-color: var(--colorRosa);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen {
  width: 150px;
  height: 200px;
}

.titulo {
  font-family: var(--fuenteTexto);
  font-size: 18px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.cantidad {
  margin-top: 30px;
}
.incantidad {
  /*margin-left: 1rem; 
    width: 40px; 
    background-color: #d3d3d3;
    border: none;
    text-align: center;
    */
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 35px;
  margin-left: 10px;
  background-color: #c4c4c4;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  text-align: center;
  align-self: center;
}
.bagregar {
  border-radius: 50%;
  font-weight: normal;
  font-size: 15px;
  border: 0px;
  width: 30px;
  height: 30px;
  background-color: #77dd77;
  margin-left: 10px;
  margin-top: 10px;
}
.beliminar {
  border-radius: 100%;
  border: 0;
  font-weight: normal;
  font-size: 15px;
  width: 30px;
  height: 30px;
  background-color: #ff6961;
  margin-left: 10px;
  margin-top: 10px;
}
.total {
  height: 450px;
  padding: 1rem;
  font-family: var(--fuenteTexto);
  width: 100%;
}
.totalt {
  justify-content: space-between;
}
@media (min-width: 992px) {
  .total {
    width: 35%;
  }
  .titulo {
    font-size: 36px;
  }
  .seccion {
    height: 230px;
  }
}

@media (min-width: 3000px) {
  .total {      
      width: 10%;       
  }
}
.linea {
  height: 5px;
  width: 100%;
  background-color: black;
}
.bpagar {
  background-color: var(--colorAzul);
  border: none;
}

.between {
  display: flex;
  justify-content: space-between;
}

/* Footer */
.color {
  height: 100px;
}

.c3 {
  height: 130px;
  background: var(--colorMorado);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
