@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --fuenteTitulos: "Lobster", cursive;
  --fuenteSubtitulos: "Lobster", cursive;
  --fuenteTexto: "Comfortaa", cursive;
  --fuenteAnimada: "Butterfly Kids", cursive;
  --fuenteNavbar: "Pacifico", cursive;
  --tamTitulo: 4rem;
  --tamSubtitulo: 3rem;
  --tamTexto: 1.5rem;
  --tamAnimada: 2rem;
  --colorRojo: #ff6961;
  --colorVerde: #77dd77;
  --colorAmarillo: #fdfd96;
  --colorAzul: #84b6f4;
  --colorRosa: #fdcae1;
  --colorBlanco: #ffffff;
  --colorMorado: #dc14b0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  padding: 0;
  font-size: 62.5%;
  width: 100vw;
  background-color: #fdcae1;
  background-image: url("../img/login/osito2.5.png");
  background-repeat: no-repeat;

  background-size: 55% 120%;
  /* background-position-y: bottom; */
  background-position-x: calc(81vw - 30vw);
}

/* ___________________________________ NAVBAR _______________________________________*/

.navbar-total {
  background-color: var(--colorMorado);
}

.nav-link {
  font-size: var(--tamTexto);
  color: white;
  margin: 0 30px;
}

.nav-inicio {
  font-family: var(--fuenteNavbar);
  font-size: var(--tamSubtitulo);
  /* -webkit-text-stroke: 2px var(--colorMorado); */
  letter-spacing: 4.5px;
}
/*__________________________________  FORMULARIO  ______________________________________________*/

.contenedor {
  width: 80%;
  background-color: #ff6961a6;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  text-align: center;
  margin-top: 20px;
}


/*----------------------------------- Carritp --------------------------------*/

.circulo-carrito {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--colorMorado);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  z-index: 5;
  text-decoration: none;
}

/*__________________________________  FORMULARIO  ______________________________________________*/

.registro {
  height: 80%;
}

.form-registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.contenedor.falla {
  width: 80%;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor.ok {
  width: 90%;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.cabecera {
  font-family: "Lobster", cursive;
  color: white;
  font-weight: 300;
  font-size: 1.3rem;
}

.form-control1 {
  margin: 5px 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.form-control1 input {
  border-radius: 15px;
  padding: 8px 10px;
  border-style: none;
  text-align: center;
  width: 80%;
}

.form-control1.ok input {
  margin: 0;
  border-style: none;
  border-radius: 15px;
  text-align: center;
}

.form-control1.falla input {
  margin: 0;
}

.form-control1 p {
  visibility: hidden;
  /* position: absolute; */
  font-size: small;
  font-weight: 500;
  text-align: right;
  margin: 0;
}

.form-control1.ok p {
  margin: 0;
  padding: 0;
}

.form-control1.falla p {
  visibility: visible;
  color: #000000;
  margin: 0;
  display: block;
  text-align: center;
}

/* button {
  align-self: center;
  background-color: #77dd77;
  padding: 8px 10px;
  border-style: none;
  border-radius: 15px;
  margin: 8px 0;
  width: 80%;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 2rem;
} */
.lin-registro {
  color: rgb(0, 0, 0);
  align-self: center;
  background-color: #77dd77;
  padding: 8px 10px;
  border-style: none;
  border-radius: 15px;
  margin: 8px 0;
  width: 80%;

  font-size: 1rem;
  margin-bottom: 1rem;
}

.inicio-sesion {
  background-color: #84b6f49f;
  margin-top: 20px;
  width: 80%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.form-sesion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-sesion a {
  width: 80%;
}

.btn-sesion {
  background-color: #fdfd96;
  color: rgb(0, 0, 0);
  align-self: center;
  padding: 8px 10px;
  border-style: none;
  border-radius: 15px;
  margin: 8px 0;
  width: 80%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 650px) {
  body {
    background-position-x: calc(80vw - 30vw);

    background-size: 60% 100%;
    /* background-position-y: center; */
  }

  .contenedor {
    width: 50%;
    margin-left: 30px;
    margin-bottom: 50px;
  }

  .inicio-sesion {
    width: 50%;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-position-x: calc(70vw - 30vw);
    /* background-position-y: bottom; */
    background-size: 60% 100%;
  }
  .contenedor {
    width: 40%;
    margin-left: 30px;
    margin-bottom: 40px;
    padding: 8px 0;
    border-radius: 15px;
    text-align: center;
  }

  .inicio-sesion {
    width: 40%;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 10px 0;
  }
}
