@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Comfortaa:wght@300&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root{
    --fuenteTitulos: 'Lobster', cursive;
    --fuenteSubtitulos: 'Lobster', cursive;
    --fuenteTexto: 'Comfortaa', cursive;
    --fuenteAnimada: 'Butterfly Kids', cursive;
    --fuenteNavbar: 'Pacifico', cursive;

    --tamTitulo: 4rem;
    --tamSubtitulo: 3rem;
    --tamTexto: 1.5rem;
    --tamAnimada: 2rem;

    --colorRojo: #ff6961;
    --colorVerde: #77dd77;
    --colorAmarillo: #fdfd96;
    --colorAzul: #84b6f4;
    --colorRosa: #fdcae1;
    --colorBlanco: #ffffff;
    --colorMorado: #DC14B0;

}
body{
    background-color: var(--colorRosa);
    background-size: contain;
}
.circulo-carrito{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--colorMorado);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    z-index: 5;
    text-decoration: none;
}

.navbar-total{
    background-color: var(--colorMorado);
}

.nav-link{
    font-size: var(--tamTexto);
    color: white;
    margin: 0 30px;
    width: 140px;
    text-align: center;
}

.nav-inicio{
    font-family: var(--fuenteNavbar);
    font-size: var(--tamSubtitulo);
    letter-spacing: 4.5px;
    width: 250px;
}


.pago{
    
    background-color: var(--colorAzul);
    width: 30%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
  
}
input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  input:invalid {
    border: .5px dashed red;
  }
  input:valid {
    border: 2px solid black;
  }
.titulo{
    
    padding-top: 10px;
  
}
.titulo h1{
    text-align:left;
    font-family: var(--fuenteTitulos);
    font-size: 30px;
    margin:0;
    color: black;
}
.titulo p{
    font-size: 15px;
    font-style: italic;
    font-family: var(--fuenteTexto);
    
}
.formulario{
    font-size: 15px;
    margin-top: 20px;
    font-family: var(--fuenteTexto);
    color: var(--colorBlanco);
    
}
input{
    border: 0;
    border-radius: 10px;
}
.placeholder{
    font-style: italic;
    font-size: 12px;
    width: 350px;
    height: 25px;
}
.password{
    width: 50px;
    height: 25px;
    font-size: 14px;
    font-style: italic;
}
.dudas{
    border-radius: 50%;
    border: 0;
    width: 15px;
    height: 15px;
    text-align: center;
    color: black;
    font-size: 8px;
    font-weight: bold;
    background-color: var(--colorBlanco);

}
span{
    font-size: 9px;
    font-family: var(--fuenteTexto);
    font-style: italic;
    color: black;
    font-weight: bold;


}
.fecha{
    width: 50px;
    height: 25px;

   

}


.imagen-tarjetas{
    width: 100%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin:10px;
    
}
.imagen-tarjetas img{
    width: 50%;
    height: 60px;
}


.boton-p{
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

}

.boton-pagar{
    width: 120px;
    height: 33px;
    background-color: var(--colorVerde);
    color: var(--colorBlanco);
    font-family: var(--fuenteTexto);
    font-size: 15px;
    font-weight:900 ;
    border-radius: 4px;
    border: 0;
}
    

    
    
   



