@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Comfortaa:wght@300&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root{
    --fuenteTitulos: 'Lobster', cursive;
    --fuenteSubtitulos: 'Lobster', cursive;
    --fuenteTexto: 'Comfortaa', cursive;
    --fuenteAnimada: 'Butterfly Kids', cursive;
    --fuenteNavbar: 'Pacifico', cursive;

    --tamTitulo: 4rem;
    --tamSubtitulo: 3rem;
    --tamTexto: 1.5rem;
    --tamAnimada: 2rem;

    --colorRojo: #ff6961;
    --colorVerde: #77dd77;
    --colorAmarillo: #fdfd96;
    --colorAzul: #84b6f4;
    --colorRosa: #fdcae1;
    --colorBlanco: #ffffff;
    --colorMorado: #DC14B0;

}
body{
    background-color: rgb(255, 255, 255);
}

.navbar-total{
    background-color: var(--colorMorado);
}

.nav-link{
    font-size: var(--tamTexto);
    color: white;
    margin: 0 30px;
}

.nav-inicio{
    font-family: var(--fuenteNavbar);
    font-size: var(--tamSubtitulo);
    /* -webkit-text-stroke: 2px var(--colorMorado); */
    letter-spacing: 4.5px;
}


.contenido-principal{
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 70vh;
    background: #FDCAE1;
    border: 1px dashed #FF6961;
    border-radius: 10px;
    padding: 20px;
}

.contenido-imagenes{
    background-color:#FDCAE1;
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    margin: 50px;

    align-items:center;
    
    

}
.imagen1{

    background-image: url(../img/Rectangle\ 17.png);
    background-repeat: no-repeat;
    margin-left: 25%;
    background-color: #FDCAE1;
    background-size: contain;
    width: 70%;
    height: 200%;
   
    
    
}

.imagenes2{
    background-color: #FDCAE1;
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: 80%;

}
.img1{
    background-repeat: no-repeat;
    background-color: rgb(253, 253, 253);
    background-image: url(../img/gorrito2.jpg.webp);
    background-size: contain;
    width: 70%;
    height: 100%;
    margin: 20px;

}
.img2{
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    background-image: url(../img/Rectangle\ 17.png);
    background-size: contain;
    width: 70%;
    height: 100%;
    margin: 20px;
}
.img3{
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    background-image: url(../img/gorritos.jpg);
    background-size: contain;
    width: 70%;
    height: 100%;
    margin: 20px;
}


.contenido-texto{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 95%;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    

}
.contenido-texto p{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;

}


h4{
    font-family: 'Butterfly Kids', cursive;
    font-size: 70px;
    align-self: flex-start;
    
    

}

.formulario{
    display: flex;
    
    justify-content: flex-start;
    margin-top: 50px;
    align-items: center;
}
.formulario label{
    margin-right: 5px;
    margin-top: 3px;
}
.formulario p{
    margin-left: 250px;
    margin-top: 5px;
    font-family: 'Comfortaa', cursive;

}

.cantidad{
    
    font-size: 'Comfortaa', cursive;
    margin-right: 25px;
    
    width: 45px;
    height: 25px;
    background: #C4C4C4;
    border: none;
    border-radius: 5px;  
    align-items: center;    
}
.cant{
    margin-right: 5px;
    background-color: #b3120a;
    width: 15px;
    height: 30px;
    
}

.boton-confirmar{
    
    margin-left: 300px;
    margin-top: 15px;
    width: 250px;
    height: 60px;
    background: #77DD77;
    border: none;
    border-radius: 10px;
}
.boton-confirmar, label{
    font-family: 'Comfortaa',cursive;
    font-weight: bold;
}