@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Comfortaa:wght@300&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --fuenteTitulos: 'Lobster', cursive;
    --fuenteSubtitulos: 'Lobster', cursive;
    --fuenteTexto: 'Comfortaa', cursive;
    --fuenteAnimada: 'Butterfly Kids', cursive;
    --fuenteNavbar: 'Pacifico', cursive;

    --tamTitulo: 4rem;
    --tamSubtitulo: 3rem;
    --tamTexto: 1.5rem;
    --tamAnimada: 2rem;

    --colorRojo: #ff6961;
    --colorVerde: #77dd77;
    --colorAmarillo: #fdfd96;
    --colorAzul: #84b6f4;
    --colorRosa: #fdcae1;
    --colorBlanco: #ffffff;
    --colorMorado: #DC14B0;

}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: var(--fuenteTexto);
    font-size: 16px;
}

/*----------------------------------- Navbar --------------------------------*/

.navbar-total{
    background-color: var(--colorMorado);
}

.nav-link{
    font-size: var(--tamTexto);
    color: white;
    margin: 0 30px;
}

.nav-inicio{
    font-family: var(--fuenteNavbar);
    font-size: var(--tamSubtitulo);
    /* -webkit-text-stroke: 2px var(--colorMorado); */
    letter-spacing: 4.5px;
}


/*----------------------------------- Populares --------------------------------*/

.container{
    min-width: 85%;
    max-width: 1300px;
}

.titulos{
    font-family: var(--fuenteSubtitulos);
    font-size: var(--tamSubtitulo);
    background-color: var(--colorRosa);
    width: 100%;
    border-radius: 20px;
}

.color-cards{
    background-color: var(--colorRosa);
    border: 3px dashed var(--colorRojo);
    border-radius: 10px;
}

.image-card{
    width: 250px;
    height: 350px;
    margin: 30px auto;
    object-fit: cover;
    object-position: center;
}

.color-card-info{
    background-color: var(--colorBlanco);
    width: 85%;
    height: auto;
    border-radius: 20px;
}

.btn-info-card{
    display: flex;
    justify-content: space-around;
}

.btn-per-info{
    background-color: var(--colorVerde);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    width: 130px;
    color: black;
}

.btn-comprar-info{
    background-color: var(--colorAzul);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    width: 130px;
    color: black;
}

.card-title{
    font-family: var(--fuenteAnimada);
    font-size: 50px;
}

.card-text{
    font-size: 20px;
}

/*------------ Pagination -------------------*/

.pagination{
    column-gap: 30px;
    display: flex;
    justify-content: center;
}

.page-link{
    border-radius: 100px;
    border: 3px dashed var(--colorRojo);
    background-color: var(--colorRosa);
    color: black;

}

/*------------ Footer -------------------*/



.color{
    height: 100px;
}

.c1{
    background: #84B6F4;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.c1::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #FF362C 0%, rgba(196, 196, 196, 0) 100%);
    transform: rotate(-180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.c3{
    height: 130px;
    background: #FF6961;
    transform: matrix(1, 0, 0, -1, 0, 0);
}


/* ---------------- Media --------------*/
@media (max-width: 992px) {

    .img-inicio{
        width: 30rem;
    }

    .color-cards{
        margin: 0;
    }

    .cajas-pequeñas{
        margin: 0;
        margin-top: 30px;
    }

    .producto-principal{
        margin: 15px;
    }

    .carousel__anterior{
        left: -10px;
    }
    
    .carousel__siguiente{
        right: -10px;
    }


}



@media (max-width: 576px) {
    html{
        font-size: 10px;
    }

    .img-inicio{
        width: 35rem;
    }

    

}


