<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personalización</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/css/personalizacion.css" />
  </head>
  <body>
    <header>
      <!--------------- Navbar  ---------->
      <nav class="navbar navbar-expand-lg navbar-total">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="z-index: 5"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
            <li class="nav-item">
              <a class="nav-link ml-5 mr-5" href="#">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-5 mr-5" href="#">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-5 mr-5 nav-inicio" href="#"> Unique </a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-5 mr-5" href="#">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-5 mr-5" href="#">Registrarse</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section>
      <div class="step step-one activo">
        <div class="card bg-figma-1">
            <div class="card-body pt-5">
              <h5 class="card-title txt-1-figma pt-5">Selecciona tu tipo de peluche</h5>
            </div>
          </div>
          <div class="card bg-figma-2">
            <div class="card-body"></div>
          </div>
          <div class="card bg-figma-3 border border-dark">
            <img
            id="brazo"
            src="/assets/img/personalizacion/models/Rectangle 126.png"
            alt="brazo"
            class="roboticos"
          />
            <div class="row w-100 d-flex justify-content-lg-center">
              <div class="col-xl-2 col-12">
                <img
                  id="conejo"
                  src="/assets/img/personalizacion/models/conejo.png"
                  alt="conejo"
                  class="img-fluid"
                />
              </div>
              <div class="col-xl-2 col-12">
                <img
                id="osoCafe"
                  src="/assets/img/personalizacion/models/osoCafe.png"
                  alt="oso"
                  class="img-fluid"
                />
              </div>
    
              <div class="col-xl-2 col-12">
                <img
                id="perro"
                  src="/assets/img/personalizacion/models/perro.png"
                  alt="perro"
                  class="img-fluid"
                />
              </div>
    
              <div class="col-xl-2 col-12">
                <img
                id="osoAzul"
                  src="/assets/img/personalizacion/models/osoAzul.png"
                  alt="oso"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="card border border-dark bg-figma-1 bg-figma-responsive">
            <div class="card-body">
              <div class="base-palanca" id="base-palanca">
                <div class="btn-left"></div>
                <div class="btn-right"></div>
                <div class="palanca">
                  <div class="row">
                    <div class="col-xl-12 move-palanca">
                      
                        <div class="ball" id="ball"></div>
                        <div class="tank" id="tank">
              
                        </div>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="ovalo"></div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="base-botones">
                <div class="coin"></div>
                <div class="base-llave">
                  <div class="cerradura"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="step step-two d-none">
        <div class="container-fluid">
          <div class="card bg-figma-2">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-4">
                  <img
                    class="brazo"
                    src="/assets/img/personalizacion/nivel2/Rectangle 127.png"
                    alt="maquina"
                  />
                </div>
                <div class="col-xl-4">
                  <h3 class="text-instruction">Elige el color de tu peluche</h3>
                </div>
                <div class="col-xl-4">
                  <img
                    class="colores"
                    id="colores"
                    src="/assets/img/personalizacion/nivel2/Ellipse 32.png"
                    alt="elipse"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="peluche"
          id="peluche"
          src=""
          alt="peluche"
        />
        <button type="button" class="btn btn-regresar btn-step-prev">
          <p class="regresar">Regresar</p>
        </button>
        <button type="button" class="btn btn-siguiente btn-step-next">
          <p class="siguiente">Siguiente</p>
        </button>
        <div class="row">
          <div class="col-xl-1 bg-figma-4"></div>
          <div class="col-xl-2 bg-figma-4"></div>
          <div class="col-xl-2 bg-figma-4"></div>
          <div class="col-xl-2 bg-figma-4"></div>
          <div class="col-xl-2 bg-figma-4"></div>
          <div class="col-xl-2 bg-figma-4"></div>
          <div class="col-xl-1 bg-figma-4"></div>
        </div>
      </div>
      <div class="step step-three d-none">
        <div class="container-fluid">
            <div class="card bg-figma-2">
              <div class="card-body">
                <div class="row pt-3">
                  <div class="col-xl-4">
                    <h3 class="text-instruction-2">Elige los accesorios</h3>
                  </div>
                  <div class="col-xl-4"></div>
                  <div class="col-xl-4 pt-5">
                    <div class="container">
                      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active d-flex justify-content-center">
                            <img id="gadget-1" src="/assets/img/personalizacion/nivel3/Rectangle 148.png" class="w-50" alt="gorro">
                          </div>
                          <div class="carousel-item d-flex justify-content-center">
                            <img id="gadget-2" src="/assets/img/personalizacion/nivel3/gorro1-removebg-preview.png" class="w-50" alt="gorro">
                          </div>
                          <div class="carousel-item d-flex justify-content-center">
                            <img id="gadget-3" src="/assets/img/personalizacion/nivel3/WhatsApp_Image_2022-02-02_at_5.37.34_PM-removebg-preview.png" class="w-50" alt="gorro">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#carouselExampleFade" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#carouselExampleFade" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </button>
                      </div>
    
                      <div id="carouselExampleFade2" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active d-flex justify-content-center">
                            <img id="gadget-4" src="/assets/img/personalizacion/nivel3/Rectangle 149.png" class="w-50" alt="gorro">
                          </div>
                          <div class="carousel-item d-flex justify-content-center">
                            <img id="gadget-5" src="/assets/img/personalizacion/nivel3/WhatsApp_Image_2022-02-02_at_5.37.33_PM__3_-removebg-preview.png" class="w-50" alt="gorro">
                          </div>
                          <div class="carousel-item d-flex justify-content-center">
                            <img id="gadget-6" src="/assets/img/personalizacion/nivel3/monios-removebg-preview.png" class="w-50" alt="gorro">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#carouselExampleFade2" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#carouselExampleFade2" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-xl-1 bg-figma-4">
              <img class="sombrero-n3" src="" alt="sombrero">
            </div>
            <div class="col-xl-2 bg-figma-4">
              <button type="button" class="btn btn-regresar2 btn-step-prev">
                <p class="regresar2">Regresar</p>
              </button>
            </div>
            <div class="col-xl-2 bg-figma-4"></div>
            <div class="col-xl-2 bg-figma-4">
              <img
                class="peluche2"
                src=""
                alt="peluche"
              />
            </div>
            <div class="col-xl-2 bg-figma-4">
              <img class="monio-n3" src="" alt="monio">
            </div>
            <div class="col-xl-2 bg-figma-4">
              <button type="button" class="btn btn-siguiente2 btn-step-next">
                <p class="siguiente2">Siguiente</p>
              </button>
            </div>
            <div class="col-xl-1 bg-figma-4"></div>
          </div>
      </div>
      <div class="step step-four d-none">
        <div class="container-fluid">
            <div class="card bg-figma-2">
              <div class="card-body pt-5">
                <div class="row">
                  <div class="col-xl-6">
                   <div class="col-xl-6">
                    <label class="text-instruction-3">Hola me llamo:</label>
                   </div>
                   <br/>
                   <br/>
                   <br/>
                   <br/>
                    <div class="col-xl-6">
                        <form action="">
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                name="nombre"
                                id="nombre"
                                placeholder="Escribe mi nombre"
                                required
                              />
                              <br/>
                              <button class="btn btn-green" type="button">
                                <p class="confirmar">Confirmar</p>
                              </button>
                            </div>
                          </form>
                    </div>
                  </div>
                 
                  <div class="col-6 pt-5">
                    <img class="peluche3" src="" alt="peluche">
                    <img class="gorro" src="/assets/img/personalizacion/nivel4/8311ce07416a732250a602eeb670eabf-removebg-preview 1.png" alt="gorro">
                    <img class="monio" src="/assets/img/personalizacion/nivel4/png-transparent-bow-tie-necktie-suit-tie-angle-ribbon-tie-removebg-preview 1.png" alt="monio">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>

    <footer class="mt-0">
      <div class="color c1"></div>

      <div class="color c3"></div>
    </footer>
    <script src="/assets/js/personalizacion/personalizacion.js"></script>
  </body>
</html>
