<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/css/contacto.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap"
        rel="stylesheet">

    <title>Contacto</title>
</head>

<body>

    <!--------------- Navbar  ---------->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-total text-white">
        <button
          class="navbar-toggler mr-5"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
            <a class="nav-link" href="nosotros.html">Nosotros</a>
            <a class="nav-link" href="contacto.html">Contacto</a>
            <a class="nav-link nav-inicio" href="../index.html">Unique</a>
            <a class="nav-link" href="productos.html">Productos</a>
            <a class="nav-link" href="login.html">Registrarse</a>
            
          </ul>
        </div>
      </nav>
  
      <!--------------- Carrito  ---------->
      <div class="carrito">
        <a href="carrito.html">
          <div class="circulo-carrito">
            <i class="fas fa-shopping-cart"></i>
          </div>
        </a>
      </div>

        <!--  contactanos -->

    <section class="seccion-contactanos">
        <h2>Contactanos</h2>
    </section>

    <section class="contactanos">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm 12 col-md-12 col-lg-4">
                    <div class="card-direccion">
                        <img src="../assets/img/contacto/direccionContacto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dirección</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>

                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm 12 col-md-12 col-lg-4">
                    <div class="card-correo">
                        <img src="../assets/img/contacto/correoContacto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Correo</h5>
                            <p class="card-text"> contacto@unique.com.mx
                                <br>
                            
                            </p>
                            
                                        

                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm 12 col-md-12 col-lg-4 col-xl-4">
                    <div class="card-whats">
                        <img src="../assets/img/contacto/whatsContacto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Telefono y WhtasApp</h5>
                            <p class="card-text"> 55-56-58-11-11<br> Whatsapp: 55-56-58-11
                           </p>

                        </div>
                    </div>

                </div>






            </div>
        </div>
    </section>

    <!--  /contactanos -->

    <!--  Escribenos -->

    <section class="escribenos">
        <h2>Escribenos</h2>
    </section>

    <section>
        <div class="container col-xs-12 col-sm-12 col-lg-8">
           <div class="row mt-5 img-oso2 ">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 " >
                <img class="img-fluid width: " src="../assets/img/contacto/oso2 (1).png" alt="" srcset="">
               </div>

               <div class="col-sm-12 col-lg-8">
                <form class="formulario" id="foormulario">
                    
                    
                        <div class="form-group">
                            <div class="juntos w-100">
                                <div class="rellenar">
                                    <label for="Nombre">Nombre <span>*</span></label>
                                    <input type="text" class="form-control" id="Nombre" required placeholder="Ej. Oso esponjoso" minlength="3"  >
                                </div>
                                <div class="rellenar">
                                    <label for="inputEmail">Correo electrónico <span>*</span></label>
                                    <input type="email" class="form-control" id="Email"  required pattern="[A-Z]{3:title=" placeholder="Ej. oso@esponjoso.com" >
                                </div>

                                
                            </div>

                                <div class="form-group">
                                <label for="asunto">Asunto <span>*</span></label>
                                <input type="text" class="form-control" id="asunto" required placeholder="Ej. Quiero el oso más esponjoso" minlength="5" maxlength="20">
                              </div>
        
                              <div class="form-group">
                                <label for="mensaje">Mensaje</label>
                                <textarea class="form-control" id="mensaje" rows="5" maxlength="300" placeholder="Utiliza entre 20 y 300 caracteres"></textarea>
                              </div>
    
                              <div class="form-group-boton">
                                <button type="submit" value="enviar datos" class="" id="submite" onsubmit="return validacion()">Enviar</button>
                              </div>
                              
                        </div>  
                    
                </form>
               </div>
               
                    
            
                
                    
                    

                    
                </div>
           </div>
        </div>
    </section>



    <!--  /Escribenos -->


    
     <!--  Footer -->
     <footer class="mt-5">
        <div class="color c1"></div>
      
        <div class="color c3"></div>
    </footer>
     <!--  /Footer -->


   

    


<script src="../assets/js/contacto.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script> 
     <!--ICONOS-->
     <script src="https://kit.fontawesome.com/5a36ceff30.js" crossorigin="anonymous"></script>


</body>

</html>



<!--  Escribenos -->

<!-- <section class="escribenos">
    <h2>Escribenos</h2>
</section>

<section>
    <div class="container11 col-xs-12 col-sm-12 col-lg-12 ">
       <div class="row mt-5 img-oso2 ">
           <div class=" osocont col-xs-12 col-sm-12 col-md-12 col-lg-4 " >
            <img class="OsoForm" src="../assets/img/contacto/oso2 (1).png" alt="Oso esponjoso" srcset="">
           </div>

           <div class="  row col-xs-12 col-sm-12 col-lg-4">
            <form class="formulario" id="foormulario" >
                
                
                    <div class="form-group">
                        <div class="juntos w-100">
                            <div class="rellenar">
                                <label for="Nombre">Nombre <span>*</span></label>
                                <input type="text" class="form-control" id="Nombre" required placeholder="Ej. Oso esponjoso" minlength="3" >
                            </div>
                            <div class="rellenar">
                                <label for="inputEmail">Correo electrónico <span>*</span></label>
                                <input type="email" class="form-control" id="Email" required required pattern="[A-Z]{3:title=" placeholder="Ej. oso@esponjoso.com" >
                            </div>

                            
                        </div>

                            <div class="form-group">
                            <label for="asunto">Asunto <span>*</span></label>
                            <input type="text" class="form-control" id="asunto" required placeholder="Ej. Quiero el oso más esponjoso" minlength="5" maxlength="20">
                          </div>
    
                          <div class="form-group">
                            <label for="mensaje">Mensaje</label>
                            <textarea class="form-control" id="mensaje" rows="5" maxlength="300" placeholder="Utiliza entre 20 y 300 caracteres"></textarea>
                          </div>

                          <div class="form-group-boton">
                            <button type="submit" value="enviar datos" class="submt btn-primary-full" id="submite" onsubmit="return validacion()">Enviar</button>
                          </div>
                          
                    </div>  
                
            </form>
           </div>
           
                
        
            
                
                

                
            </div>
       </div>
    </div>
</section> -->



<!--  /Escribenos -->




