<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- TIPOGRAFIA -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css">
  <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>

  <!-- ESTILOS PROPIOS -->

  <link rel="stylesheet" href="../assets/css/login.css">

  <title>Login</title>

</head>

<body>


  <!--------------- Navbar  ---------->
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-total text-white">
    <button class="navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <a class="nav-link" href="nosotros.html">Nosotros</a>
        <a class="nav-link" href="contacto.html">Contacto</a>
        <a class="nav-link nav-inicio" href="../index.html">Unique</a>
        <a class="nav-link" href="productos.html">Productos</a>
        <a class="nav-link" href="login.html">Registrarse</a>

      </ul>
    </div>
  </nav>


  <!--------------- Carrito  ---------->
  <div class="carrito">
    <a href="carrito.html">
      <div class="circulo-carrito">
        <i class="fas fa-shopping-cart"></i>
      </div>
    </a>
  </div>


  <!--______________________________________ FORMULARIO ______________________________________-->

  <div class="contenedor mt-5">
    <div class="cabecera">
      <h2>Registrarse</h2>
    </div>
    <form method="POST" id="formulario" action="procesar.php" method="">

        <div class="form-control1">
          <label for="usuario"></label>
          <input id="nombre" type="text" placeholder="Nombre">
          <p></p>
        </div>

        <div class="form-control1">
          <label for="email"></label>
          <input id="email" type="email" placeholder="correo">
          <p></p>
        </div>

        <div class="form-control1">
          <label for="pass"></label>
          <input id="pass" type="password" placeholder="contraseña">
          <p></p>
        </div>
        
       
      
          <button type="submit" class="lin-registro">Registrarse</button>
        

      
    </form>
  </div>



  <div class="inicio-sesion">

    <form action="" class="form-sesion" id="form2">
      <div class="cabecera">
        <h2>Iniciar Sesión</h2>
      </div>

      <div class="form-control1">
        <input type="email" placeholder="Correo electronico" id="usuario">
        <p></p>
      </div>

      <div class="form-control1">
        <input type="password" placeholder="Contraseña" id="passSesion">
        <p></p>
      </div>
      <button type="submit" class="btn-sesion">Iniciar Sesión</button>
    </form>
  </div>


  <!-- --------------- FOOTER --------------------->
  <footer class="mt-5">
    <div class="color c1"></div>

    <div class="color c3"></div>
  </footer>
  <script src="../assets/js/login.js"></script>
  <!--ICONOS-->
  <script src="https://kit.fontawesome.com/5a36ceff30.js" crossorigin="anonymous"></script>

</body>

</html>