<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Link Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
     integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
     <!--Link Css-->
     <link rel="stylesheet" href="../assets/css/nosotros.css">
    <title>Acerca de Nosotros</title>
</head>
<body>
     <!--Nav -->
     <nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-total text-white">
        <button
          class="navbar-toggler mr-5"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
            <a class="nav-link" href="#">Nosotros</a>
            <a class="nav-link" href="#historia">Contacto</a>
            <a class="nav-link nav-inicio" href="#personajes">Unique</a>
            <a class="nav-link" href="#frutas">Productos</a>
            <a class="nav-link" href="#">Registrarse</a>
            
          </ul>
        </div>
      </nav>
      <!--------------- Carrito  ---------->
  <div class="carrito">
    <a href="carrito.html">
      <div class="circulo-carrito">
        <i class="fas fa-shopping-cart"></i>
      </div>
    </a>
  </div>
      
      <!-- Sobre nosotros-->
    <div class="nosotros">
        <h2 class="texto-encima">Sobre nosotros</h2> 
        <div class="centrado">
            <p>Somos una empresa que busca hacer de la web un lugar dónde las personas se sientan cómodas y libres de elegir los productos que desean adquirir. A través de nuestros servicios, buscamos transformar la forma en que las personas consumen en la web, con una interfaz intuitiva y divertida que proporciona las herramientas necesarias para que nuestros usuarios personalicen a su gusto y necesidades a su nuevo mejor amigo.</p>
        </div>
    </div>

    <!-- Cartas Misión y Visión -->
     <div class="container col-12">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-md-12 col-lg-6 p-0" >
                <div class="cardn">
                <img src="/assets/img/nosotros/osito.png" class="card-img-top" alt="...">
                    <div class="card-body">
                <h5 class="card-title">Misión</h5>
                <p class="card-text">Ofrecer una experiencia inolvidable a todos los usuarios al personalizar peluches como siempre lo han soñado, llevando a sus manos el peluche ideal, relleno de ternura y listo para un abrazo. </p>
                    </div>
                </div>
        </div>
        <div class="col-md-12 col-lg-6 p-0">
                <div class="cardn">
                <img src="../assets/img/nosotros/osito.png" class="card-img-top" alt="...">
                    <div class="card-body"> 
                <h5 class="card-title">Visión</h5>
                <p class="card-text">Convertirse en la mejor empresa fabricadora de peluches en México y en el mundo. Ofreciendo productos de calidad, únicos y tiernos.</p>
                    </div>
                </div>
        </div>
        </div>
    </div>

    <!-- Equipo -->
    <div class="tituloequipo">
        <h3>Equipo de trabajo</h3>
      </div>

    <!-- Cartas Equipo -->
 <div class="equipo">
    <div class="cards">
        <div class="front" style="background-color:#484242;">
        <h2>Octavio Olea</h2>
        <img class="front"  src="../assets/img/nosotros/octavio.png">
        </div>
            <div class="back" style="background-color:#484242;">
                <a href="https://www.linkedin.com/in/octavio-olea-perez/" target="black"> 
                    <img class="icon" src="../assets/img/nosotros/linkedin.png" alt="linkedIn">
                </a>
                <a href="https://github.com/Tavolordk" target="black">
                    <img  class="icon" src="../assets/img/nosotros/github.png" alt="github">
                </a> 
                <div class="back-text"> 
                    <h2> Octavio Olea</h2> 
                    <p>"Sin importar las adversidades, nunca dejes de aprender, las cosas han ido mal ,pero ahora lo sabes, muchas personas nunca lo sabrán por ello nunca podrán cambiar su vida."</p>
               </div>
            </div>
    </div>
    <div class="cards">
        <div class="front" style="background-color: #D36EED;">
        <h2>Jonathan Vazquez</h2>
        <img class="front" src="../assets/img/nosotros/jonathan.png" >  
        </div>
            <div class="back" style="background-color: #D36EED;">
               <a href="https://www.linkedin.com/in/jonathan-vazquez-u/" target="blank">
                    <img class="icon" src="../assets/img/nosotros/linkedin.png" alt="linkedin">
                </a>
                <a href="https://github.com/Jonathan-YV" target="black">
                    <img  class="icon" src="../assets/img/nosotros/github.png" alt="github"> 
                </a>
                <div class="back-text"> 
                    <h2>Jonathan Vazquez</h2>
                    <p>"Proximamente"</p>
               </div>
            </div>
    </div>
    <div class="cards">
        <div class="front" style="background-color: #00459A;">
        <h2>Abraham David</h2>
        <img class="front" src="../assets/img/nosotros/abraham.png" >
        </div>
            <div class="back" style="background-color: #00459A;">
                <a href="https://www.linkedin.com/in/abrahamrt/" target="black">
                    <img class="icon" src="../assets/img/nosotros/linkedin.png" alt="linkedin"></a>
               <a href="https://github.com/davidenc93" target="black">
                   <img  class="icon" src="../assets/img/nosotros/github.png" alt="github"></a>
               <div class="back-text"> 
                    <h2>Abraham David</h2>
                    <p>"Creé en ti todo será posible."</p>
               </div>
            </div>
    </div>
    <div class="cards">
        <div class="front" style="background-color: #ED5850;">
        <h2>Deny Flores</h2>
        <img class="front" src="../assets/img/nosotros/deny.png" >
        </div>
            <div class="back" style="background-color: #ED5850;">
                <a href="https://www.linkedin.com/in/deny-flores03/" target="black">
                    <img class="icon" src="../assets/img/nosotros/linkedin.png" alt="linkedIn">
                </a>
              <a href="https://github.com/DenFlores" target="black">
                  <img  class="icon" src="../assets/img/nosotros/github.png" alt="github">
             </a>
               <div class="back-text"> 
                    <h2>Deny Flores</h2>
                    <p>“Elegir es renunciar”</p>
               </div>
            </div>
    </div>
    <div class="cards">
        <div class="front" style="background-color: #C4C4C4;">
        <h2>Julio Cesar Garcia</h2>
        <img class="front" src="../assets/img/nosotros/Julio.png" >
        </div>
            <div class="back" style="background-color: #C4C4C4;">
                <a href="https://www.linkedin.com/in/julio-garcia93159/" target="black">
                    <img class="icon" src="../assets/img/nosotros/linkedin.png" alt="linkedIn">
                </a>
                <a href="https://github.com/juliogs9" target="black">
                    <img  class="icon" src="../assets/img/nosotros/github.png" alt="github">
                </a>
               <div class="back-text"> 
                    <h2>Julio Cesar Garcia</h2>
                     <p>“ El éxito no se logra sólo con cualidades especiales. Es sobre todo un trabajo de constancia, de método y de organización. ”</p>
               </div>
            </div>
    </div>
    <div class="cards">
        <div class="front" style="background-color: #59C99A;">
        <h2>Sarahi Alfaro</h2>
        <img class="front" src="../assets/img/nosotros/sarahi.png" >
        </div>
            <div class="back" style="background-color: #59C99A;">
                <a href="https://www.linkedin.com/in/sarahi-alfarod24/" target="black">
                   <img class="icon" src="../assets/img/nosotros/linkedin.png" alt="linkedIn">
                </a>
                <a href="https://github.com/SarahiAlfaro" target="black"> 
                   <img  class="icon" src="../assets/img/nosotros/github.png" alt="github">
                </a>
               <div class="back-text"> 
                    <h2>Sarahi Alfaro</h2>
                    <p>“Siempre deja un poco de brillo en cada lugar ”</p>
               </div>
            </div>
    </div>
    <div class="cards">
        <div class="front" style="background-color: #5297ED;">
        <h2>Daniel Tapia</h2>
        <img class="front" src="../assets/img/nosotros/daniel.png" >
        </div>
            <div class="back" style="background-color: #5297ED;">
               <a href="https://www.linkedin.com/in/dantapia26/" target="black">
                   <img class="icon" src="../assets/img/nosotros/linkedin.png" alt="linkedIn">
                </a>
               <a href="https://github.com/DanTg26" target="black">
                   <img class="icon" src="../assets/img/nosotros/github.png" alt="github"> 
                </a>
               <div class="back-text"> 
                    <h2>Daniel Tapia</h2>
                    <p>"La sabiduría es el resultado de la experiencia, la experiencia es el resultado de los errores y los errores son el resultado de la valentía". </p>
               </div>
            </div>
    </div>
    <div class="cards">
        <div class="front" style="background-color: #FF9900;">
        <h2>Naily Vargas Trejo</h2>
        <img class="front" src="../assets/img/nosotros/naily.png" >
        </div>
            <div class="back" style="background-color: #FF9900;">
               <a href="https://www.linkedin.com/in/naily-vargas-trejo/" target="black">
                   <img class="icon" src="../assets/img/nosotros/linkedin.png" alt="linkedIn">
                </a>
                <a href="https://github.com/NailyTrejo" target="black">
                    <img  class="icon" src="../assets/img/nosotros/github.png" alt="github">
                </a>
               <div class="back-text"> 
                    <h2>Naily Vargas Trejo</h2>
                    <p>”Toca la puerta, no tengas miedo. Busca nuevas ideas, reinventa tus pensamientos y enfrenta tus miedos.” </p>
               </div>
            </div>
    </div>
    <div class="cards">
        <div class="front" style="background-color:#16A7A7;">
        <h2>Ángel Illescas</h2>
        <img class="front" src="../assets/img/nosotros/angel.png" >
        </div>
            <div class="back" style="background-color:#16A7A7;">
             <a href="https://www.linkedin.com/in/angel-illescas/" target="black"> 
                 <img class="icon" src="../assets/img/nosotros/linkedin.png" alt="linkedIn">
                </a>
              <a href="https://github.com/Angel-Illescas" target="black">
                  <img  class="icon" src="../assets/img/nosotros/github.png" alt="github" target="black">
                </a>
               <div class="back-text"> 
                    <h2>Ángel Illescas</h2>
                    <p>”Mientras tenga vida, siempre tendré una nueva oportunidad.” </p>
               </div>
            </div>
    </div>
</div>

<!--------------- footer  ---------->
<footer class="mt-5">
    <div class="color c1"></div>
  
    <div class="color c3"></div>
</footer>
   
<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

     <!--ICONOS-->
     <script src="https://kit.fontawesome.com/5a36ceff30.js" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  -->
</body>
</html>