<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/pago.css">
    <title>Pago</title>
</head>
<body>
    <div class="pago">

        <div class="formulario">
            <div class="titulo"> <p>Pago Digital
            </br> Todos los campos son necesarios           
        </p> 
        </div>

        <div class="imagen-tarjetas">
            <img class="" src="../assets/img/Pago/tarjetas.jpg" alt="modo de pago"/> 
       </div> 

        <form class="pago-digital">

        <div>
            <label for="nombre">Nombre del titular</label>
        </br>
            <input class="placeholder" type="text" placeholder="Escriba su nombre" id="nombre">
        </div>
        </br>

        <div>
            <label for="numero-tarjeta">Número de tarjeta</label>
        </br>
            <input class="placeholder" type="number" placeholder="067 890 567 456" id="tarjeta">
        </div>
        </br>

        <div>
            <label for="expiracion">Fecha de expiración(MM/AAAA)</label>
        </br>
           <select name="Meses" id="">
               <option value="1">Enero</option>
               <option value="2">Febrero</option>
               <option value="3">Marzo</option>
               <option value="4">Enero</option>
               <option value="5">Enero</option>
               <option value="6">Enero</option>
               <option value="7">Enero</option>
               <option value="8">Enero</option>
               <option value="9">Enero</option>
               <option value="10">Enero</option>
               <option value="11">Enero</option>
               <option value="12">Enero</option>
            </select>

           <input type="number" min="1900" max="2099" step="1" value="2016" />
        </div>
        </br>

        <div>
            <label for="codigo-seguridad">Codigo de seguridad</label>
        </br>
            <input class="placeholder" type="password" placeholder="3 digitos" name="codigo-seguridad" id="codigo">
        </div>
        </br>

        <div>
            <input class="boton-pagar" type="button" onclick="alert('Pago exitoso! Tu pedido esta en proceso...')" value="Pagar Ahora">
        </div>
    
    </form>
    </div>
    </div>
    

    
</body>
</html>