<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maxium-scale=1.0, minium-escale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="../assets/css/producto-individual.css" type="text/css">
   
    <title>Productos</title>
  </head>
  <body>
   

    <!--------------- Navbar  ---------->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-total text-white">
      <button
        class="navbar-toggler mr-5"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
          <a class="nav-link" href="nosotros.html">Nosotros</a>
          <a class="nav-link" href="contacto.html">Contacto</a>
          <a class="nav-link nav-inicio" href="../index.html">Unique</a>
          <a class="nav-link" href="productos.html">Productos</a>
          <a class="nav-link" href="login.html">Registrarse</a>
          
        </ul>
      </div>
    </nav>

    <!--------------- Carrito  ---------->
    <div class="carrito">
      <a href="carrito.html">
        <div class="circulo-carrito">
          <i class="fas fa-shopping-cart"></i>
        </div>
      </a>
    </div>
    
    <div class="contenido-principal mt-5">
      <div class="contenido-imagenes">
        <div id="gorritoCafe" class="imagen1">
         
          
        
        </div>
        <div class="imagenes2">
          <div id="gorritoCafe" class="img1">
            
           
          </div>

          <div id="gorritoCafe" class="img2">
          

          </div>
          <div id="gorritoCafe" class="img3">
            
          </div>
         

        </div>

       

      </div>

      <div class="contenido-texto">
      <h4 id="titulo"></h4>
      <p id="descripcion"> </p>
       
    
        <div class="cantidades">
          <p>Cantidad:</p>
          <input
          type="text"
          id="cantidad"
          class="form-control"
          value="1"
          min="1"/>
        <span class="input-group-btn">
          <button class="menos" id="menos" type="button">-</button>
        </span>
        
      
        <span class="input-group-btn">
          <button class="más" id="mas" type="button">+</button>
        </span>
    
        <input
          id="importe"
          type="text"
          class="pago"
          style="width:150px;text-align: center;"
          disabled />
        </div>
      
        <a href="carrito.html">
          <input class="boton-confirmar" type="button" value="Agregar al carrito"/>
        </a>
        
       
  

      </div>


    </div>
    <footer class="mt-5">
      <div class="color c1"></div>
    
      <div class="color c3"></div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="../assets/js/productos.js"></script>
    <script src="../assets/js/producto-individual.js"></script>
    

     <!--ICONOS-->
     <script src="https://kit.fontawesome.com/5a36ceff30.js" crossorigin="anonymous"></script>

  
  </body>
</html>